<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>用户登录</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" rev="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="{% static 'js/jQuery1.7.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery1.42.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.SuperSlide.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Validform_v5.3.2_min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $tab_li = $('#tab ul li');
            $tab_li.hover(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                var index = $tab_li.index(this);
                $('div.tab_box > div').eq(index).show().siblings().hide();
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            /*学生登录信息验证*/
            $("#stu_username_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入账号') {
                    $(this).val('');
                }
            });
            $("#stu_username_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入账号');
                }
            });
            $("#stu_password_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入密码') {
                    $(this).val('');
                }
            });
            $("#stu_password_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入密码');
                }
            });
            $("#stu_code_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入验证码') {
                    $(this).val('');
                }
            });
            $("#stu_code_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入验证码');
                }
            });
            $(".stu_login_error").Validform({
                tiptype: function (msg, o, cssctl) {
                    var objtip = $(".stu_error_box");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                },
                ajaxPost: true
            });
            /*导师登录信息验证*/
            $("#tea_username_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入手机号') {
                    $(this).val('');
                }
            });
            $("#tea_username_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入手机号');
                }
            });
            $("#tea_password_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入密码') {
                    $(this).val('');
                }
            });
            $("#tea_password_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入密码');
                }
            });
            $("#tea_code_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入验证码') {
                    $(this).val('');
                }
            });
            $("#tea_code_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入验证码');
                }
            });
            $(".tea_login_error").Validform({
                tiptype: function (msg, o, cssctl) {
                    var objtip = $(".tea_error_box");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                },
                ajaxPost: true
            });
            /*教务登录信息验证*/
            $("#sec_username_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入教务号') {
                    $(this).val('');
                }
            });
            $("#sec_username_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入教务号');
                }
            });
            $("#sec_password_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入密码') {
                    $(this).val('');
                }
            });
            $("#sec_password_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入密码');
                }
            });
            $("#sec_code_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入验证码') {
                    $(this).val('');
                }
            });
            $("#sec_code_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入验证码');
                }
            });
            $(".sec_login_error").Validform({
                tiptype: function (msg, o, cssctl) {
                    var objtip = $(".sec_error_box");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                },
                ajaxPost: true
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $(".screenbg ul li").each(function () {
                $(this).css("opacity", "0");
            });
            $(".screenbg ul li:first").css("opacity", "1");
            var index = 0;
            var t;
            var li = $(".screenbg ul li");
            var number = li.size();

            function change(index) {
                li.css("visibility", "visible");
                li.eq(index).siblings().animate({opacity: 0}, 3000);
                li.eq(index).animate({opacity: 1}, 3000);
            }

            function show() {
                index = index + 1;
                if (index <= number - 1) {
                    change(index);
                } else {
                    index = 0;
                    change(index);
                }
            }

            t = setInterval(show, 8000);
            //根据窗口宽度生成图片宽度
            var width = $(window).width();
            $(".screenbg ul img").css("width", width + "px");
        });
    </script>

</head>

<body>
<div id="tab">
    <ul class="tab_menu">
        <li class="selected">账号密码登录</li>
        <li>手机号码登录</li>
        <li>人脸识别登录</li>
    </ul>
    <div class="tab_box">
        <!-- 学生登录开始 -->
        <div>
            <div class="stu_error_box"></div>
            <form action="" method="post" class="stu_login_error">
                <div id="username">
                    <label>账&nbsp;&nbsp;&nbsp;号：</label>
                    <input type="text" id="stu_username_hide" name="username" value="输入账号" nullmsg="账号不能为空！"
                           datatype="s6-18" errormsg="账号范围在6~18个字符之间！" sucmsg="账号验证通过！"/>
                    <!--ajaxurl="demo/valid.jsp"-->
                </div>
                <div id="password">
                    <label>密&nbsp;&nbsp;&nbsp;码：</label>
                    <input type="password" id="stu_password_hide" name="password" value="输入密码" nullmsg="密码不能为空！"
                           datatype="*6-16" errormsg="密码范围在6~16位之间！" sucmsg="密码验证通过！"/>
                </div>
                <div id="code">
                    <label>验证码：</label>
                    <input type="text" id="stu_code_hide" name="code" value="输入验证码" nullmsg="验证码不能为空！" datatype="*4-4"
                           errormsg="验证码有4位数！" sucmsg="验证码验证通过！"/>
                    <img src="{% static 'images/captcha.jpg' %}" title="点击更换" alt="验证码占位图"/></div>
                <div id="remember">
                </div>
                <div id="login">
                    <button type="submit">登录</button>
                </div>
            </form>
        </div>
        <!-- 学生登录结束-->
        <!-- 导师登录开始-->
        <div class="hide">
            <div class="tea_error_box"></div>
            <form action="" method="post" class="tea_login_error">
                <div id="username">
                    <label>手机号：</label>
                    <input type="text" id="tea_username_hide" name="username" value="输入手机号" nullmsg="手机号不能为空！"
                           datatype="s6-18" errormsg="手机号范围在6~18个字符之间！" sucmsg="手机号验证通过！"/>
                    <!--ajaxurl="demo/valid.jsp"-->
                </div>
                <div id="code">
                    <input type="text" id="tea_code_hide" name="code" value="输入验证码" nullmsg="验证码不能为空！" datatype="*4-4"
                           errormsg="验证码有4位数！" sucmsg="验证码验证通过！"/>
                    <a href='#'>获取验证码</a>
                </div>
                <div id="login">
                    <button type="submit">登录</button>
                </div>
            </form>
        </div>
        <!-- 导师登录结束-->
        <!-- 教务登录开始-->
        <div class="hide">
            <canvas class="draw_img" width="300" height="200" style="display: none"></canvas>
            <div class="veriface" style="margin-top: 33px;">
                <video class="capture" width="760" height="360" src="" style=""></video>
                <h2 class="notice">请对准摄像头</h2>
                <div class="control">
                    <span class="open" style="margin-right: 100px;">开启摄像头</span>
                    <span class="recognition" style="background:linear-gradient(#678ee7, #5078df)">人脸识别</span>
                    <span class="close"
                          style="margin-left: 100px;background:linear-gradient(#e7999f, #df5156)">关闭摄像头</span>
                </div>
            </div>
        </div>
        <!-- 教务登录结束-->
        <div class="bottom">©2014 Leting <a href="javascript:;" target="_blank">关于</a> <span>京ICP证030173号</span> More
            Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a
                    href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
            <img width="13" height="16" src="{% static 'images/copy_rignt_24.png' %}"/>
        </div>
        <div class="screenbg">
            <ul>
                <li><a href="javascript:;"><img src="{% static 'images/0.jpg' %}"></a></li>
                <li><a href="javascript:;"><img src="{% static 'images/1.jpg' %}"></a></li>
                <li><a href="javascript:;"><img src="{% static 'images/2.jpg' %}"></a></li>
            </ul>
        </div>
        <script type="text/javascript">
            /*
             从前台到后台的人脸识别
             1.开启摄像头
             1)window.navigator
             2.同步到video的src
             对象=> window.URL =>blob
             1)解析视频流为blob 添加到 src
             3.canvas创建视频片段照片
             4.
             */

            var open = document.querySelector('.open');//获取open按钮
            var capture = document.querySelector('.capture'); // 获取video标签
            var recognition = document.querySelector('.recognition'); //获取人脸识别的按钮

            var close = document.querySelector('.close');
            var notice = document.querySelector('.notice');
            var canvas = document.querySelector('.draw_img');
            var context = canvas.getContext('2d');
            var buffer;

            open.onclick = invokingCamera;  //回调函数 函数名称加括号是主动执行
            recognition.onclick = cntG;  //点击人脸识别
            close.onclick = function () {
                //console.log(buffer);
                buffer && buffer.getTracks()[0].stop(); //停止视频流
                //console.log(buffer);
            }
            //获取摄像头,获取流媒体数据
            function invokingCamera() {
                if (navigator.mediaDevices.getUserMedia) {
                    //优先使用前置摄像头
                    navigator.mediaDevices.getUserMedia({audio: false, video: {facingMode: "user"}}).then(
                        //获取视频流数据 成功后
                        function (MediaStream) {
                            //console.log(stream);
                            buffer = MediaStream; //会指向一个内存地址
                            //console.log(buffer);
                            capture.srcObject = MediaStream;
                            capture.onloadedmetadata = function (e) {
                                capture.play();
                            };
                        }
                    ).catch(
                        //失败后
                        function (err) {
                            console.log(err.name + ": " + err.message);
                        }
                    );
                } else {
                    alert('您的浏览器不支持摄像头');
                }
            }
            //截取的图片调用后台百度API
            function screenShot() {
                /* msg('正在检测,请稍后~~~', '#c665ff');
                 document.querySelector("#userHead").src = "./loading.gif"*/
                context.drawImage(capture, 0, 0, 200, 150);
                return new Promise(function (resolve, reject) {
                    new Post({
                        url: '/judge',
                        data: canvas.toDataURL('image/png'),
                        success: function (res) {
                            console.log(res);
                            var dd = JSON.parse(res);
                            console.log("进行对比中。。。")
                            if (dd.status == 1) {

                                reject(dd)
                            } else {
                                resolve(1)
                            }
                        }
                    })
                })
            }
            function cntG() {
                msg('正在检测,请稍后~~~', '#c665ff');
                document.querySelector("#userHead").src = "./loading.gif";
                let arr = [];
                let ss = setInterval(function () {
                    if (arr.length != 5) {
                        arr.push(screenShot());
                    } else {
                        console.log(arr)
                        clearInterval(ss);
                        Promise.all(arr).then(function () {
                            document.querySelector("#userHead").src = "./fail.jpg";
                            msg('识别未通过~~', '#f10d0f');
                        }).catch(function (data) {
                            msg(`你好${data.user.name},识别通过~`, '#00f637');
                            console.log("结束！！！")
                            document.querySelector("#userHead").src = `${data.user.head}`;
                            document.querySelector("#num").innerHTML = `工号:${data.user.num}`;
                        })
                    }

                }, 500)


            }
            function msg(con, color) { //输出信息
                notice.innerHTML = con + '';
                notice.style.color = color;
            }

            //post 方式传输数据 get的话 base64 5mb url
            function Post(opt) {
                //构造函数
                this.init(opt);
            }

            Post.prototype = {
                init: function (opt) {  //初始化 参数 URL地址 Data参数 method方式
                    this.url = opt.url || '';
                    this.data = opt.data || {};
                    this.method = 'POST';
                    this.async = true;//异步
                    this.success = opt.success || function () {  //回调函数
                        }
                    this.xhr();
                },
                xhr: function () {
                    var that = this;
                    var xhr = new XMLHttpRequest();//ajax对象实例化
                    /* console.log(this.data)*/
                    //请求的类型  请求地址 异步或者同步
                    xhr.open(this.method, this.url, this.async);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=utf-8'); //表头
                    xhr.send('img=' + this.data);
                    xhr.onreadystatechange = function (ev) {
                        if (xhr.status === 200 && xhr.readyState === 4) {
                            this.success(xhr.response);//回调数据
                        }
                    }.bind(this);
                }
            }
            new Post({
                url: '/access',
                data: '',
            })
        </script>
        <style>
            * {
                margin: 0;
                padding: 0;
            }

            html, body {
                height: 100%;
                background: #f9f9f9;
            }

            .veriface {
                width: 800px;
                height: 500px;
                background-color: #FFFFFF;
                margin: 0 auto;
                border-radius: 8px;
                text-align: center;
            }

            .veriface .capture {
                width: 760px;
                height: 360px;
                background-color: #222222;
                border-radius: 8px;
            }

            .veriface .control {
                text-align: center;
                width: 100%;
                height: 70px;
                margin-top: 20px;
            }

            .veriface .control span {
                display: inline-block;
                width: 100px;
                height: 45px;
                background: #F9F9F9;
                text-align: center;
                line-height: 45px;
                color: #222222;
                font-size: 12px;
                border-radius: 8px;
                box-shadow: 0 0 4px #cccccc;
                user-select: none;
                cursor: pointer;
                transition: 1s;
            }

            .veriface h3.notice {
                color: #336688;
            }
        </style>
    </div>
</div>
</body>
</html>
